[run]
concurrency = multiprocessing
source = tox_server.py
parallel = True

[report]
exclude_lines =
    pragma: nocover
    raise AssertionError
    raise NotImplementedError
    if 0:
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    except BaseException:
